<html>
<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/CSS/earn_page.css">
        <div id="navbar"></div>
</head>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="javascript:void(0)" onclick="openProjectURL('EyeWire')">EyeWire</a>
  <a href="javascript:void(0)" onclick="openProjectURL('eterna')">eterna</a>
  <a href="javascript:void(0)" onclick="openProjectURL('PHYLO')">PHYLO</a>
  <a href="javascript:void(0)" onclick="openProjectURL('nightjar')">nightjar</a>
</div>

<br>
<br>
    <body height=100%>
<div id="main">
<!-- Use any element to open the sidenav -->
<button onclick="openNav()">Select Project</button>
<div>
    <iframe id="projectFrame" name={{projectName}} width=100%></iframe>   
</div>
<h1 id="selectProjectPrompt" align="center" visible="false">Please Select a Project!</h1>
 
    
</div>
    </body>
         <!-- Load Navbar -->

<script language="javascript">
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}
    
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
}
    
function openProject(projectName)
    {
        if (projectName == "EyeWire")
        {
            $("#projectFrame").attr("src", "http://eyewire.org/");
        }
        else if (projectName == "eterna")
        {
            $("#projectFrame").attr("src","http://www.eternagame.org/web/");
        }
        else if (projectName == "PHYLO")
        {
            $("#projectFrame").attr("src","http://phylo.cs.mcgill.ca");
        }
        else if (projectName == "nightjar")
        {
            $("#projectFrame").attr("src","http://nightjar.exeter.ac.uk/where-is-that-nightjar/");
        }
        else 
        {
            //$("#projectFrame").attr("height", "0");
            //$("#projectFrame").attr("width", "0");
            $("#projectFrame").hide();
            $("#selectProjectPrompt").attr("visible", "true");
            console.log("empty");
        }
        
        
        closeNav();
    }
function openProjectURL(projectName)
{
    window.location.href ='/earn/'+projectName; 
}
</script>
    <script>
        window.onscroll = function () {
            window.scrollTo(0,0);
        }
        $("#navbar").load("/nav");
        $("#projectFrame").attr("height", $(window).innerHeight() * 0.8);
        openProject($("#projectFrame").attr("name"));
        console.log("it's loaded!!!!!");

    </script>
</html>
