<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/CSS/earn_page.css">
    <div id="navbar"></div>
    <!-- Load Navbar -->
    <script src="/Javascript/earn_page.js"></script>
</head>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="javascript:void(0)" onclick="openProjectURL('EyeWire')">EyeWire</a>
    <a href="javascript:void(0)" onclick="openProjectURL('eterna')">eterna</a>
    <a href="javascript:void(0)" onclick="openProjectURL('PHYLO')">PHYLO</a>
    <a href="javascript:void(0)" onclick="openProjectURL('nightjar')">nightjar</a>
</div>

<body height=100%>
    <div id="main">
        <!-- Use any element to open the sidenav -->
        <button id="selectProjectButton" class="btn btn-info" onclick="openNav()">Select Project</button>
        <button id="finishedButton" class="btn btn-info" onclick="taskFinished()">Finished My Task!</button>

        <a id="right" href="#openModal" class="btn btn-info" role="button">Help</a>

        <div id="openModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <h2>Modal Box</h2>
                <p>This is a sample modal box that can be created using the powers of CSS3.</p>
                <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
            </div>
        </div>
        <div onmouseenter="entered()" onmouseleave="exited()">
            <iframe id="projectFrame" name={{projectName}} width=98% height=98%></iframe>
        </div>
        {{#unless projectName}}
        <h1 id="selectProjectPrompt" align="center" visible="false">Please Select a Project!</h1> {{/unless}}

    </div>
</body>
<script>
    const UPDATE_INTERVAL = 300;
    const REQUIRED_USAGE_TIME = 100; //in ms
    var nextLevelExp = '{{{userData.nextLevelExp}}}';
    var tempTime = 0;
    var interval_js_id;
    $("#navbar").load("/nav");

    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.body.style.backgroundColor = "white";
    }

    function entered() {
        interval_js_id = setInterval(trackTime, UPDATE_INTERVAL);
    }

    function exited() {
        clearInterval(interval_js_id);
    }

    function trackTime() {
        tempTime += UPDATE_INTERVAL;
        console.log(tempTime);
    }

    function taskFinished() {
        if (tempTime < REQUIRED_USAGE_TIME) {
            window.alert("You have not spent enough time on the task. Please complete the task.");
        } else {
            window.alert("Congrats! You got " + Math.ceil(Math.sqrt(tempTime / 1000)) + " exp!");
            var str = $("#pointText").text();
            console.log(str);
            var points = parseInt(str);
            console.log(points);
            points += Math.ceil(Math.sqrt(tempTime / 1000));
            console.log(nextLevelExp);
            // level up!
            if (points >= nextLevelExp) {

                points %= nextLevelExp;

                nextLevelExp *= 1.5;
                nextLevelExp = Math.ceil(nextLevelExp);
                $.post("/levelUp", {
                    point: points,
                    updatedNextLevelExp: nextLevelExp
                });
                $("#pointText").text(points);
                $("#nextLevelExpText").text(nextLevelExp);

                var currentLevel = parseInt($("#currentLevelText").text());
                currentLevel++;
                $("#currentLevelText").text(currentLevel);
                window.alert("Wooo! You leveled up to Level " + $("#currentLevelText").text() + ". Check out your new Avatars!");
            } else {
                $("#pointText").text(points);
                console.log("points " + points);
                $.post("/point", {
                    point: points
                });
            }
            //location.reload(true);
            tempTime = 0;
        }
    }

    function openProject(projectName) {
        if (projectName == "EyeWire") {
            $("#projectFrame").attr("src", "http://eyewire.org/");
            $("#selectProjectPrompt").attr("visible", "false");

        } else if (projectName == "eterna") {
            $("#projectFrame").attr("src", "http://www.eternagame.org/web/");
            $("#selectProjectPrompt").attr("visible", "false");
        } else if (projectName == "PHYLO") {
            $("#projectFrame").attr("src", "http://phylo.cs.mcgill.ca");
            $("#selectProjectPrompt").attr("visible", "false");
        } else if (projectName == "nightjar") {
            $("#projectFrame").attr("src", "http://nightjar.exeter.ac.uk/where-is-that-nightjar/");
            $("#selectProjectPrompt").attr("visible", "false");
        } else {
            //$("#projectFrame").attr("height", "0");
            //$("#projectFrame").attr("width", "0");
            $("#projectFrame").hide();
            $("#selectProjectPrompt").attr("visible", "true");
            console.log("empty");
        }


        closeNav();
    }
    var numClicks;



    function openProjectURL(projectName) {
        window.location.href = '/earn/' + projectName;
    }


    window.onscroll = function() {
        window.scrollTo(0, 0);
    }

    $("#projectFrame").attr("height", $(window).innerHeight() * 0.8);
    openProject($("#projectFrame").attr("name"));
    console.log("it's loaded!!!!!");

</script>

</html>
