<html>

<head>
    <title>SciWards</title>
</head>

<body>
    <div>
        <h2>Login</h2>
        <form>
            Email:
            <br>
            <input type="text" name="firstname">
            <br> Password:
            <br>
            <input type="text" name="lastname">
        </form>
        <form action="home_page.html">
            <input type="submit" value="Go to Home Page" />
        </form>
    </div>
</body>

</html>
