<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../Public/CSS/persistent_tab.css">
<div id="nav">
    <div id="nav-wrapper">
        <ul>
            <li><a href="home_page.html">Home</a></li>
            <li><a href="earn_page.html">Earn</a></li>
            <li><a href="redeem_page.html">Redeem</a></li>
            <li>
                <div id="userinfo">
                    Welcome, Name
                </div>
                <div>
                    Point Count
                </div>
            </li>
        </ul>
    </div>
</div>