<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>
        SciWards
    </title>
    <div id="navbar"></div>
    <link rel="stylesheet" href="/CSS/redeem_page.css">
</head>

<body>
    <div class="container">
        <h2>Redeem</h2>
        <input type="text" name="search" placeholder="Search..">
        <div class="products-wrapper">
            <ul class="products">
                <!-- TEMPLATE
                <li>
                    <img src="{{image}}"/>
                    <h3>{{name}}</h3>
                    <p>{{description}}</p>
                </li>
                -->
                <li>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg"/>
                    <h3>Kitty</h3>
                    <p>A cute cat.</p>
                    <div class="buttons-wrapper">
                        <button type="button" class="btn redeem-button">redeem</button>
                        <button type="button" class="btn goal-button">set goal</button>
                    </div>
                </li>
                <li>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg"/>
                    <h3>Kitty</h3>
                    <p>A cute cat.</p>
                    <div class="buttons-wrapper">
                        <button type="button" class="btn redeem-button">redeem</button>
                        <button type="button" class="btn goal-button">set goal</button>
                    </div>
                </li>
                <li>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg"/>
                    <h3>Kitty</h3>
                    <p>A cute cat.</p>
                    <div class="buttons-wrapper">
                        <button type="button" class="btn redeem-button">redeem</button>
                        <button type="button" class="btn goal-button">set goal</button>
                    </div>
                </li>
                <li>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg"/>
                    <h3>Kitty</h3>
                    <p>A cute cat.</p>
                    <div class="buttons-wrapper">
                        <button type="button" class="btn redeem-button">redeem</button>
                        <button type="button" class="btn goal-button">set goal</button>
                    </div>
                </li>
                <li>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg"/>
                    <h3>Kitty</h3>
                    <p>A cute cat.</p>
                    <div class="buttons-wrapper">
                        <button type="button" class="btn redeem-button">redeem</button>
                        <button type="button" class="btn goal-button">set goal</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Load Navbar -->
    <script>
        $("#navbar").load("/nav");
        
        function redeem(name, value)
        {
            var currPointCount = parseInt($("#pointText").text());
            // insufficient funds
            if (currPointCount < value)
                {
                    alert("We're sorry, you do not have enough points to redeem this prize yet. Keep earning!")
                }
            else
            {
                // confirm redemption
                if (confirm("Are you sure you want to redeem \"" + name + "\" for " + value + " points?"))
                {
                        // backend remove points
                        currPointCount -= 5;
                        alert("Congrats, \"" + name + "\" has been redeemed! you have " + currPointCount + " points remaining.");
                }
                else
                {
                    
                }
            }
        }
        function setGoal(name, value)
        {
            alert("You have set " + name + " as your goal!");
        }
    </script>
</body>

</html>
