<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>
        SciWards
    </title>
    <div id="navbar"></div>
    <link rel="stylesheet" href="../Public/CSS/redeem_page.css">
</head>

<body>
    <br>
    <br>
    <div class="container">
        <h2>Redeem</h2>
        <input type="text" name="search" placeholder="Search..">
        <div class="products-wrapper">
            <ul class="products columns-5">
                <li>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg"/>
                    <h3>Kitty</h3>
                    <p>A cute cat.</p>
                </li>
                <li>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg"/>
                    <h3>Kitty</h3>
                    <p>A cute cat.</p>
                </li>
                <li>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg"/>
                    <h3>Kitty</h3>
                    <p>A cute cat.</p>
                </li>
                <li>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg"/>
                    <h3>Kitty</h3>
                    <p>A cute cat.</p>
                </li>
                <li>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg"/>
                    <h3>Kitty</h3>
                    <p>A cute cat.</p>
                </li>
            </ul>
        </div>
    </div>
    <!--
    <table border="2" cellpadding="100">
        <tr>
            <th>Reward 1
                <div>
                    <button type="button">Get!!</button>
                </div>
            </th>
            <th>Reward 2
                <div>
                    <button type="button">Get!!</button>
                </div>
            </th>
            <td><b>Reward 3</b>
                <div>
                    <button type="button">Get!!</button>
                </div>
            </td>
        </tr>

        <tr>
            <td><b>Reward 4</b>
                <div>
                    <button type="button">Get!!</button>
                </div>
            </td>
            <td><b>Reward 5</b>
                <div>
                    <button type="button">Get!!</button>
                </div>
            </td>
            <td> <b>Reward 6</b>
                <div>
                    <button type="button">Get!!</button>
                </div>
            </td>
        </tr>
        
    </table>
    -->
     <!-- Load Navbar -->
    <script>
        $("#navbar").load("/nav");
    </script>
</body>

</html>
