body
{ 
    overflow-y: scroll; 
    padding: 0; 
    margin: 0; 
    font-family: Arial; 
    font-size: 16px; 
    background-color: #F1F1F1; 
    /*height: 2000px; */
}

#nav
{ 
    background-color: #222; 
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1;
    opacity: .95;
    margin:auto;
}

#nav-wrapper
{ 
    padding-left: 90px;
    width: 1200px; 
    height: 92px;
    margin: auto; 
    text-align: left;
    
}

#nav ul
{ 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    width: 100%;
}

#nav ul li
{ 
    display:table-cell;
    text-align: center;
    width: 20%;
    height: 100%;
    
}
#nav ul button
{ 
    display: table-cell;
    
}
#nav ul a:hover
{ 
    background-color: #333; 
}

.userinfo
{ 
    display:block;
    text-align: center;
    color:#CCC;
}

#nav ul li a,visited
{
    color: #CCC; 
    display: block; 
    height:150%;
    text-decoration: none; 
}

#wrapper
{ 
    width: 960px; 
    margin: 0 auto; 
    text-align: left; 
}

#content
{
    background-color: #FFF; 
    border: 3px solid #DDD; 
    padding: 20px; 
    margin: 80px 0 0 0; 
}




.navbtn {
    background-color: #222;
    color: #4CAF50;
    padding-bottom: 50px;
    padding-top:16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    margin-left: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* Goals Container */


.goal-progress-wrapper {
    margin: auto;
    position: relative;
    height: 150px;
    border-style: double;
    border-width: 4px;
    border-radius: 3px;
    padding: 15px;
}

#item-pic{ 
    width: 100px;
    height: 75px;
}

.goal-wrapper {
    position: absolute;
    left: 5%;
    text-align: center;
}

.progress-wrapper {
    padding: 15px;
    width: 100%;
    position: absolute;
    left: 25%;
    text-align: center;
}

.transition (@animation: ease-in, @time: 1s) {
  transition: width @animation @time;
  -webkit-transition: width @animation @time;
  -moz-transition: width @animation @time;
  -o-transition: width @animation @time;
            }
            
            .bar-con {
              background-color: #ccc;
              height: 0.75em;
              margin-bottom: 1em;
            }
            .bar {
              
              float: left;
              height: 100%;
              width: 0%;
              border-radius: 5px
            }
            .progress .bar {
              background-color: #03AB70;
              transition: width ease-in 1s;
              -webkit-transition: width ease-in-out 2s;
              -moz-transition: width ease-in-out 2s;
              -o-transition: width ease-in-out 2s;
            }
            
            
            .progress {
                margin: auto;
                border-radius: 5px;
                width: 80%;
            }